.container {
    margin: 80px 12px 0 12px;
}

.c-star-color {
    color: #FFD233;
}

.float-right {
    float: right;
}

.d-flex {
    display: flex;
}

.aic {
    align-items: center;
}

.flex-1 {
    flex: 10%,
}

.flex-9 {
    flex: 90%,
}

.mr-6 {
    margin-right: 6px;
}

.m-12 {
    margin: 0 12px;
}

.mt-12 {
    margin-top: 12px;
}

.mr-12 {
    margin-right: 12px;
}

.my-12 {
    margin: 12px 0;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}


.mx-12 {
    margin: 0 12px;
}

.mx-24 {
    margin: 0 24px;
}

.mr-24 {
    margin-right: 24px;
}

.p-12 {
    padding: 12px;
}

.review-list {
    margin-top: 16px;
    margin-bottom: 50px;
}

.food-info-item {
    display: flex;
    align-items: center;
    height: 32px;
}

.food-info__label {
    width: 20%;
    font-size: 18px;
}

.review-block {
    margin-bottom: 16px;
}

.review-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-block__username {
    margin: 0 12px;
    font-weight: bold;
}

.review-block__avatar img,
.review-block__my-avatar img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.review-block__body {
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 520px;
    position: relative;
}

.post-avatar img {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
}

.comment-text-box {
    position: relative;
}

.comment-send-icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.comment-send-icon i {
    color: #387ef3;
}

.comment-image-block {
    position: relative;
    position: absolute;
    bottom: -50;
    right: 8px;
}

.comment-image-block img,
.comment-image {
    height: 50px;
    border-radius: 15px;
}

.food-review-form {
    border-radius: 16px;
    background-color: #E8E8E8;
    border: 1px solid #c4baba;
    margin-top: 12px;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 24px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    border: none;
    background-color: transparent;
    flex-grow: 1;
}


input:focus {
    border: 1px solid blue;
}

.input-item {
    display: flex;
}

.input-item label {
    font-weight: lighter;
}

.input-item input {
    margin-bottom: 5px;
}

.is-selected {
    color: #E41414;
}

.is-selected span {
    text-decoration: underline;
}
