.res-item-container {
  flex: 0 0 auto;
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.res-item-image {
  width: 209px;
  height: 176px;
  align-self: center;
  object-fit: cover;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.1s ease-in-out;
}

.res-item-image:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.res-item-text {
  font-size: 20px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  font-weight: 900;
}