.wrapper {
    background-color: white !important;
}

.header {
    display: flex;
    padding: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #FFA3A3;
    justify-content: space-around;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
}

.item-header {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.item-content {
    width: 100%;
    border-radius: 48px;
    background: #FFE2E2;
    display: flex;
    justify-content: space-around;
}

.content-item {
    width: 15%;
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.hidden-data {
    visibility: hidden;
}

.food-main {
    padding: 0 130px;
    margin-top: 100px;
}

.title-menu {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    gap: 10px;
}

.title-menu img {
    width: 30px;
    height: 30px;
}

.pagging {
    width: 100%;
    justify-content: end;
    display: flex;
    padding: 20px;
}

.add-food {
    color: white;
    background-color: #FFA3A3;
    border-radius: 20px;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-pagging {
    width: fit-content;
    gap: 20px;
    display: flex;
    background: rgba(255, 188, 188, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 52px;
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-paging {
    background-color: #FFA3A3;
}

.paging-item {
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.paging-item:hover {
    opacity: .8;
}