.food-item-food-item {
    flex: 0 0 auto;
    width: 25%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .food-item-image {
    width: 230px;
    height: 120px;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    object-fit: cover;
    border-color: var(--dl-color-gray-white);
    border-width: 2px;
    border-radius: 50px;
  }
  .food-item-text {
    align-self: center;
    font-style: normal;
    margin-top: 7px;
    font-weight: 900;
    font-size: 16px;
  }

  .food-item {
    cursor: pointer;
    width: 50%;
    padding: 12px 16px 12px 36px;
}

.optionValue span {
    font-size: 16px;
    margin: 12px 0 12px 0;
}

.food-image img {
    position: relative;
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px 
}

.hfood-image {
    position: relative;
}

.food-rate {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 2px 6px;
}

.food-rate i {
    color: rgb(235, 235, 0);
}

.food-info {
    margin-left: 12px;
}

.food-name {
    font-weight: bold;
}

.food-restaurant-time {
    color: #999
}

.hfood-price {
    font-weight: bold;
}
  